* {
    padding: 0;
    margin: 0;
}

.knowUs-section {
    height: 550px;
    width: 100%;
    padding: 2.5rem;
    justify-content:center;
}

.caption-txt {
    
    font-size: 5rem;
    text-align: left;
    color:limegreen;
    font-weight: bold;
    text-shadow: 5px 3px #000;
}


.mission-txt, .vision-txt, .knowus-txt, .history-txt {
    font-size: 1.3rem;
    font-weight: bolder;
}